

.about{
    display:flex;
    min-height: 341px;
    background-color:#222224;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
    }
    .aboutCol{
    margin:0 auto;
    min-width: 360px;
    text-align:center;
    &Img{
	animation: slide-top 1.5s ease-in-out infinite alternate-reverse both;
        margin-top:20px;
    }
}
    .aboutH1{
        margin-top:20px;
        font-weight: 400;
        font-size: 20px;
        color:#fbfbfb;
    }
    .aboutP{
        max-width:360px;
        margin-top:16px;
        margin-bottom:28px;
        font-weight: 300;
        color:#fbfbfb;
        font-size: 14px;
    }
    
    
    