.cart {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    flex-wrap:wrap;
}

.cartLeft {
    display: flex;
    flex-direction: column;
}

.cartRight {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top:17px;
}

.cartCard {
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    display: flex;
    height: 306px;
    width: 652px;
    margin-bottom: 40px;

    &Desc {
        padding: 22px 31px;

        &H3 {
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }

        &Price {
            margin-top: 42px;
            font-size: 22px;
            line-height: 30px;
            color: #575757;

            &Span {
                font-size: 22px;
                line-height: 30px;
                color: #EF5B70;
            }
        }

        &Color {
            font-size: 22px;
            line-height: 30px;

            color: #575757;

            &Span {
                color: #6F6E6E;
            }
        }

        &Size {
            font-size: 22px;
            line-height: 30px;

            color: #575757;

            &Span {
                color: #6F6E6E;
            }
        }

        &Quantity {
            font-size: 22px;
            line-height: 30px;

            color: #575757;

            &Input {
                outline:none;
                margin-left: 24px;
                color: #656565;
                width: 44px;
                height: 25px;
                padding-left: 16px;
                font-weight: 25px;
                border: 1px solid #eaeaea;
                
            }
        }

    }

    &Close {
        display: flex;
        margin: 28px 22px 0 auto;
        background: none;
        border: none;
        outline: none;
        cursor:pointer;

        & .fas {
            font-size: 26px;
            color: #575757;
            &:hover{
            
                animation: rotate-center 1s linear infinite both;
                    }
        }
    }
}

.cartNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 72px 0 128px;

    &Btn {
        width: 235px;
        height: 50px;
        border: 1px solid #a4a4a4;
        background-color: #fff;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        cursor:pointer;
        transition: .4s;
        &:hover{
            color:$mainColor;
            transform:scale(1.1);
                    }
    }
}


.cartForm {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    &Input {
        height: 45px;
        margin-top: 20px;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 13px;
        line-height: 45px;
        color: #B1B1B1;
        padding:10px;
        background-color: #fff;
        outline:none;
        transition:.4s;
        &:focus{
            transform:scale(1.1);
            box-shadow:0 0 10px $mainColor;
        }
    }
    &Button{
        width: 100px;
        height: 35px;
        font-weight: 300;
        font-size: 11px;
        line-height: 30px;
        color: #4A4A4A;
        text-align:center;
        border:1px solid #a4a4a4;
        outline: none;
        background:#fff;
        margin-top:23px;
        transition:.4s;
        cursor:pointer;
        &:hover{
color:$mainColor;
transform:scale(1.1);
        }
    }
}


.cartTotal {
    margin-top:57px;
    height: 214px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;



    &Sub {
        margin: 39px 34px 0 0;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;

        &Number {
            margin-left: 24px;
        }
    }

    &Grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin: 12px 37px 0 0;

        &Number {
            font-weight: 900;
            color: $mainColor;
            margin-left: 24px
        }
    }

    &Button {
        height: 50px;
        width: 253px;
        background-color: $mainColor;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        border: none;
        outline: none;
        position: relative;
        margin: 39px auto;
        animation: scale-up-center 1s ease-in-out infinite alternate-reverse both;
        cursor:pointer;
        &::after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 1px;
            background: #E2E2E2;
            top: -17px;
            left: calc(100% - 253px);
        }
    }
}