.descWrap {
    height: 601px;
    border: 1px solid #eaeaea;
    margin-top: -$descShift;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 65px 294px;
}

.descH2 {
    font-weight: 300;
    font-size: 14px;
    color: $mainColor;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 63px;
        background: #EF5B70;
        left: calc(50% - 63px / 2);
        bottom: -12px;
    }
}

.descH3 {
    margin-top: 24px;
    font-weight: 300;
    font-size: 18px;
    color: #4D4D4D;
}

.descP {
    display: inline;
    margin: 49px auto 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;

}


.descPrice {
    margin-top: 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.descChoose {
    display: flex;
    justify-content: center;
    position:relative;
margin-top:130px;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 642px;
        background: #eaeaea;
        left: calc(50% - 642px / 2);
        top: -65px;
    }
}

.descSummary{
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
margin-right:22px;
& .fas{
margin-left:9px;
color:#6f6e6e;
font-size: 15px;
}
}


.descButton{
    display:flex;
    margin:63px auto;
 padding:15px 24px 15px;
  justify-content: center;
  align-items: center;
    @include button(212px,48px,#F26376);
font-size: 16px;

color: #F26376;
&:hover{
    transform:scale(1.1);
    color:#fff;
    background-color: $mainColor;
    .fab{
        color:#fff;
    transition:.4s;
    }
}
.fab{
    margin:0 9px;
    color: #F26376;
    font-size: 22px;
}
}

.featuredDesc{
    margin:128px 0;
}