.header {
    height: 75px;
    width:100%;
    background-color: $headerBG;
    font-size: 29px;
    position:fixed;
    top:0;
    z-index:1000;
    @include flexCenterBetween();


&Right {
    flex-direction: row-reverse;
}

&Left {
    flex-direction: row;
}

&Item {
    margin: 0 16.5px;
}
& .fas, .fab ,.far{
    color:$headerColor;
    transition:.2s ease-in-out;
&:hover{
    color:#c4c4c4;
    transform:scale(1.25);
}
&:active{
    color:$mainColor;
    transform:rotateY(180deg);
}
}
}


.burgerMenuOpen{
    display:block;
}
.burgerMenu{
    display:none;
    position:fixed;
    right:0;
    top:75px;
    margin-left:auto;
    margin-right:0px;
    width: 232px;
    min-height: 764px;
    padding-left:33px;
    background-color:#fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
&Overlay{
    display:none;
    position:fixed;
    left:0;
    height: 200vh;
    width: 200vw;
    background-color: #0005;
}
}

.burgerMainLi{
    color:$mainColor;
    font-weight: 400;
    font-size: 14px;
    margin-top:20px;
}
.burgerMainLiH1{
    margin-bottom:24px;
    font-weight: 700;
    font-size: 14px;
    color:#000;
}
.burgerChildLi{
    margin-top:11px;
}
.burgerChildLi a{
    margin-left: 21px;
    margin-top:12px;
    color:#6F6E6E;
    font-weight: 400;
    font-size: 14px;
}



