.reg {
    padding-top: 64px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;

}

.regLeft {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.regForm {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;

    &Input {
        height: 45px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        padding: 10px;
        border: 1px solid #a4a4a4;
        outline: none;
        margin-top: 20px;
        color: #B1B1B1;
        &:focus{
            transform:scale(1.1);
            box-shadow:0 0 10px $mainColor;
        }
    }

    &Gender {
        display: flex;
        margin-top: 31px;

        &Input {
            height: 17px;
            width: 17px;
            border: 1px solid #a4a4a4;
            outline: none;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;

            &Text {
                margin-left: 10px;
                margin-right: 20px;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #000000;
            }
        }
    }
}

.logForm {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;

    &Input {
        height: 45px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        padding: 10px;
        border: 1px solid #a4a4a4;
        outline: none;
        margin-top: 20px;
        color: #B1B1B1;
    }

    &Notice {
        margin-top: 15px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }


    &Button {
        height: 50px;
        width: 167px;
        background-color: $mainColor;
        font-size: 14px;
        color: #fff;
        text-align: center;
        outline: none;
        border:1px solid #fff;
        transition:.3s;
        position: relative;
        margin-top: 39px;
        cursor: pointer;
        animation: scale-up-center 1s ease-in-out infinite alternate-reverse both;
   &:hover{
       background-color: #fff;
       color:$mainColor;
       border:1px solid $mainColor;
       & .fas{
           color:$mainColor;
       }
   }
        & .fas {
            color: #fff;
            font-style: 14px;
            margin-left: 20px;
        }
    }
}

.regRight {
    width: 652px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    animation: scale-up-center 1s ease-in-out infinite alternate-reverse both;
   
    &List {
        margin-top: 21px;

        &Li {
            margin-bottom: 16px;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;

            &::before {
                content: '\2713';
                margin-right: 23px;
            }
        }
    }
}