.slider {
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-bottom: $descShift;
	
		&-btn {
		background-color:rgba(42,42,42,.15);
		color: $mainColor;
        border:none;
        outline:none;
		height: 47px;
        width: 47px;
		position: absolute;

			&-left {
				left: 5px;
			}
			
			&-right {
				right: 5px;
			}
            & .fas{
                color:$mainColor;
                font-size: 30px;           }
	}
}