//adaptive sizes
$desktopWidth:1140px;
$tabletWidth:768px;
$mobileWidth:375px;
//colors
$mainColor:#f16d7f;

$descShift: 64px;
//header
$headerBG:#222;
$headerColor:#e8e8e8;

//foter
$footerBG:#222224;



@mixin flexCenterBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin button($width, $height, $color) {
    transition: .4s ease-in-out;
    border: 1px solid $color;
    width: $width;
    height: $height;
    text-align: center;
    line-height: $height;
}

@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
@keyframes scale-up-center {
    0% {
      transform: scale(0.97);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slide-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

@import "main";

@import "blocks/header";
@import "blocks/subscribe";
@import "blocks/footer";
@import "blocks/about";


@import "blocks/promo";
@import "blocks/boxes";
@import "blocks/featured";

@import "blocks/catalog";

@import "blocks/slider";
@import "blocks/desc";

@import "blocks/cart";

@import "blocks/registration";


@import "blocks/media";